@import "../../vars.css";

.container{
    color : var(--color-text);
    margin-top: 79px;
    margin-left: 10%;
    margin-right: 10%;
}

.title{
    color : var(--color-text);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 14px;
}

.skills{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 11px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-size: 50px;
    align-items: center;
    gap: 70px
    
}

.html {
    color: #f06529
}

.css {
    color: #2965f1;
}

.javascript {
    color: #f0db4f;
}

.react {
    color: #61dbfb;
}

.node {
    color: #3c873a;
}